<div id="<%= dom_id contact %>">
  <p>
    <strong>Sex:</strong>
    <%= contact.sex %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= contact.birth_date %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= contact.address %>
  </p>

  <p>
    <strong>Address details:</strong>
    <%= contact.address_details %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= contact.country %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= contact.department %>
  </p>

  <p>
    <strong>City:</strong>
    <%= contact.city %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= contact.information %>
  </p>

</div>
