<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "problema") %> encontrados en el formulario:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sex, "Sexo", style: "display: block" %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :birth_date, "Fecha de Nacimiento" %>
    <%= form.date_field :birth_date, min: (Date.today - 100.years).strftime("%Y-%m-%d"), max: (Date.today).strftime("%Y-%m-%d"), required: true %>
  </div>

  <div>
    <%= form.label :first_name, "Nombre", style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, "Apellido", style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email, "Email", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :address, "Dirección", style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :address_details, "Casa / Apartamento", style: "display: block" %>
    <%= form.text_field :address_details %>
  </div>
    
  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, @countries, :id, :name, { prompt: 'Selecciona un país' }, { id: 'country_select' } %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, @departments, :id, :name, { prompt: 'Selecciona un departamento' }, { id: 'department_select' } %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, @cities, :id, :name, { prompt: 'Selecciona una ciudad' }, { id: 'city_select' } %>
  </div>

  <div>
    <%= form.label :information, "Información", style: "display: block" %>
    <%= form.text_area :information %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
