<h1>Registros de Contacto</h1>

<table class="contact-table">
  <thead>
    <tr>
      <th>Sexo</th>
      <th>Fecha de Nacimiento</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Detalles de Dirección</th>
      <th>País</th>
      <th>Departamento</th>
      <th>Ciudad</th>
      <th>Información</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.sex %></td>
        <td><%= contact.birth_date.strftime("%d/%m/%Y") %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.address %></td>
        <td><%= contact.address_details %></td>
        <td><%= contact.country.name if contact.country.present? %></td>
        <td><%= contact.department.name if contact.department.present? %></td>
        <td><%= contact.city.name if contact.city.present? %></td>
        <td><%= contact.information %></td>
        <td class="content-actions">
          <%= link_to 'Mostrar', contact, class: "btn btn-show" %>
          <%= link_to 'Editar', edit_contact_path(contact), class: "btn btn-edit" %>
          <%= link_to 'Eliminar', contact, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'Contactar', new_contact_path, class: "btn btn-add" %>
</div>

<h2>Total de Registros por Ciudad</h2>
<table class="city-totalization-table">
  <thead>
    <tr>
      <th>Ciudad</th>
      <th>Total Registros</th>
    </tr>
  </thead>
  <tbody>
    <% @totals_by_city.each do |city, count| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Acciones</h2>


<!-- Botón para ver contactos en JSON -->
<%= link_to "Ver en JSON", index_json_contacts_path, class: "btn btn-json", target: '_blank' %>

<!-- Botón para exportar a PDF -->
<%= link_to 'Exportar a PDF', export_pdf_contacts_path(format: :pdf), class: 'btn btn-pdf' %>